<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Leaderboard Creation</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <mat-form-field class="full-width">
        <mat-label>Game</mat-label>
        <mat-select formControlName="game" (selectionChange)="onGameSelect($event)" required>
          <mat-option *ngFor="let game of games" [value]=game>
            {{game.subjectAcronym}}
            {{game.course}}/{{game.course + 1}}
            {{game.period}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="selectedGame && filteredAchievements.length === 0" class="error-message">
        Warning! In order to define a leaderboard for an achievement, the game must have at least one rule with that achievement.
      </div>
      <mat-form-field *ngIf="selectedGame" class="full-width">
        <mat-label>Achievement</mat-label>
        <mat-select formControlName="achievement" required>
          <mat-option *ngFor="let achievement of filteredAchievements" [value]=achievement.id>
            {{achievement.name}}
            {{achievement.category}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required>
      </mat-form-field>
      <mat-form-field class="date-container half-width">
        <mat-label>Leaderboard Period</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate readonly placeholder="Start date" formControlName="startDate" required>
          <input matEndDate readonly placeholder="End date" formControlName="endDate" required>
        </mat-date-range-input>
        <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker touchUi="true" #picker></mat-date-range-picker>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Assessment Level</mat-label>
        <mat-select formControlName="assessmentLevel" required>
          <mat-option value="Team">Team</mat-option>
          <mat-option value="Individual">Individual</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Anonymization</mat-label>
        <mat-select formControlName="anonymization" required>
          <mat-option value="Full">Full</mat-option>
          <mat-option value="Partial">Partial</mat-option>
          <mat-option value="None">None</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-checkbox formControlName="studentVisible" color="primary">
        <span class="label">Visible to students</span>
      </mat-checkbox>
    </mat-card-content>
  </mat-card>
  <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Submit</button>
</form>
