<form [formGroup]="form" (ngSubmit)="onSubmit(fileInput)" class="form-container">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Achievement Creation</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <mat-form-field class="full-width">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required>
      </mat-form-field>
      <div class="full-width file-button-container">
        <label class="file-button-label">Icon</label>
        <button mat-raised-button color="primary" type="button" class="file-button" (click)="fileInput.click()">Choose File</button>
        <input hidden (change)="onFileSelected($event)" #fileInput type="file" id="file" accept="image/*">
        <span class="file-name">{{selectedFile?.name}}</span>
        <button *ngIf="selectedFile" mat-mini-fab color="primary" aria-label="Delete image" type="button" (click)="deleteFile(fileInput)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <div *ngIf="imageUrl" class="full-width">
        <img [src]="imageUrl" alt="Preview" class="preview-image">
      </div>
      <mat-form-field class="full-width">
        <mat-label>Category</mat-label>
        <mat-select formControlName="category" required>
          <mat-option value="Points">Points</mat-option>
          <mat-option value="Badges">Badges</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Submit</button>
</form>
